# Compiled class file
*.class
*.MF
MANIFEST
/MANIFEST.MF
**/MANIFEST.MF
**/MANIFEST.*
pom.properties
**/pom.properties
root-context.xml
*.properties


# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
Hobby/target/m2e-wtp/web-resources/META-INF/maven/com.team/controller/pom.properties
Hobby/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
