
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

main {
    display:flex;
    flex-direction: row;
}


.sidebar-link {
color:#ffffff!important;

}

</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script type="text/javascript">
	function go_admin() {
		location.href = "/adminHome.do"
	}

	function go_adminUser() {
		location.href = "/adminUser.do"
	}

	function go_adminGroup() {
		location.href = "/adminGroup.do"
	}

	function go_adminQNA() {
		location.href = "/adminQNA.do"
	}

	function go_adminReport() {
		location.href = "/adminReport.do"
	}

	function go_home() {
		location.href = "/home.do"
	}
</script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
</head>
<body>
<main>
    <!-- SIDEBAR -->
  


<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

main {
    display:flex;
    flex-direction: row;
}


.sidebar-link {
color:#ffffff!important;

}


</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script type="text/javascript">
	function go_admin() {
		location.href = "/adminHome.do"
	}

	function go_adminUser() {
		location.href = "/adminUser.do"
	}

	function go_adminGroup() {
		location.href = "/adminGroup.do"
	}

	function go_adminQNA() {
		location.href = "/adminQNA.do"
	}

	function go_adminReport() {
		location.href = "/adminReport.do"
	}

	function go_home() {
		location.href = "/home.do"
	}

  
</script>
</head>
    <!-- SIDE BAR ( NAV BAR )-->
    <div class="flex-shrink-0 p-3  " style="height:100vh; width: 15%; background-color: #0f4200; color:white;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom border-2 sidebar-link">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">/CAMPING.do</span>
        </a>
        <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            대시보드
            </button>
            <div class="collapse" id="dashboard-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/adminHome.do" class="ps-4 link-dark rounded sidebar-link">11</a></li>
                <li><a href="#" class="ps-4 link-dark rounded sidebar-link">22</a></li>
                <li><a href="#" class="ps-4 link-dark rounded sidebar-link">33</a></li>
            </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed sidebar-link" href="/adminUser.do">
            유저관리
            </a>
            <!-- 드롭다운 필요없을거같아서 일단 주석 -->
            <!-- <div class="collapse" id="user-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/adminUser.do" class="ps-4 link-dark rounded sidebar-link">사용자 리스트</a></li>
                <li><a href="#" class="ps-4 link-dark rounded sidebar-link">관리자 테이블</a></li>
            </ul>
            </div> -->
        </li>
        <li class="mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed sidebar-link"  href="/adminGroup.do">
            캠핑모임 관리
            </a>
            <!-- 드롭다운 필요없을거같아서 일단 주석 -->
            <!-- <div class="collapse" id="groups-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/adminGroup.do" class="ps-4 link-dark rounded sidebar-link">모임 리스트</a></li>
                <li><a href="#" class="ps-4 ink-dark rounded sidebar-link">모임 생성</a></li>
                <li><a href="#" class="ps-4 link-dark rounded sidebar-link">ㅁㄴㅇㄹ</a></li>
            </ul>
            </div> -->
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#cusser-collapse" aria-expanded="false">
            고객지원
            </button>
            <div class="collapse" id="cusser-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/adminFAQ.do" class="ps-4 link-dark rounded sidebar-link">F A Q</a></li>
                <li><a href="/adminQNA.do" class="ps-4 ink-dark rounded sidebar-link">1대1 문의</a></li>
                <li><a href="/adminReport.do" class="ps-4 link-dark rounded sidebar-link">신고</a></li>
            </ul>
            </div>
        </li>
        <li class="border-top border-2 my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            계정
            </button>
            <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/home.do" class="ps-4 link-dark rounded sidebar-link">로그아웃</a></li>
            </ul>
            </div>
        </li>
        </ul>
    </div>






    <div class="container"  style="width: 85%; background-color: white">
        <div class="row mt-3" style=" box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;background-color: rgba(0, 0, 0, 0.11);  margin-left:10%; width:80%; height:30%;">
            <div class="col " style="height: 100%;">
                <div style="width: 300px!important; flex-direction: row; display: flex; " class="mt-4" >
                    <canvas id="myChart" style="width: 300px; max-width: 350px;  height:250px; background-color: rgba(255,255,255,0.7);"></canvas>
                    <div style=""><button class="ms-5" style=" width:100%; height: 100%;background-color: white ;   border:0px; border-radius: 10px;">four</button></div>
                </div>
                <div></div>
            </div>
        </div>
        <div class="row mt-3" style=" box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;background-color: rgba(0, 0, 0, 0.11);  margin-left:10%; width:80%; height:30%;">
            <div class="col " style="height: 100%;">
                <button class="ms-3 mt-3 mb-1" style="background-color: white ; height: 85%; width: 30%; border:0px; border-radius: 10px;">four</button>
                <button class="ms-3 mt-3 mb-1" style="background-color: white ; height: 85%; width: 30%; border:0px; border-radius: 10px;">five</button>
                <button class="ms-3 mt-3 mb-1" style="background-color: white ; height: 85%; width: 30%; border:0px; border-radius: 10px;">six</button>
            </div>
        </div>
        <div class="row mt-3" style=" box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;background-color: rgba(0, 0, 0, 0.11);  margin-left:10%; width:80%; height:30%;">
            <div class="col " style="height: 100%;">
                <button class="ms-3 mt-3 mb-1" style="background-color: white ; height: 85%; width: 30%; border:0px; border-radius: 10px;">one</button>
                <button class="ms-3 mt-3 mb-1" style="background-color: white ; height: 85%; width: 30%; border:0px; border-radius: 10px;">two</button>
                <button class="ms-3 mt-3 mb-1" style="background-color: white ; height: 85%; width: 30%; border:0px; border-radius: 10px;">three</button>
            </div>
        </div>
    </div>


 

   
<script>
   const xValues = [100,200,300,400,500,600,700,800,900,1000];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
      borderColor: "red",
      fill: false
    },{
      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
      borderColor: "green",
      fill: false
    },{
      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
      borderColor: "blue",
      fill: false
    }]
  },
  options: {
    legend: {display: false}
  }
});
    </script>

</main>

</body>
</html>