@media (max-width: 767px){

 .sulogin {
   width: 100%;
   height: 700px;
   background: rgb(255, 255, 255);
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
 }
 .sutextForm {
  border-radius: 30px;
  border: 1px solid lightgray;
  width: 350px;
  margin: 10px;
  padding: 10px 10px;
 }
  
.sutextForm2{
  position: relative;
  width : 230px;
  height : 47px;
  vertical-align: center;
   border-radius: 30px;
   border: 1px solid lightgray;
   margin-right : 120px;
   padding: 10px 10px;
   margin-bottom : 10px;
}

.sutextForm3{
  position: relative;
  width: 230px;
  height : 47px;
  border-radius: 30px;
  border: 1px solid lightgray;
  margin-right : 120px;
  padding: 10px 10px;
  margin-bottom : 10px;
  margin-top: 10px;
}

 .susubmit2 {
  width: 169px;
  height: 39px;
  border: 0;
  outline: none;
  border-radius: 40px;
 background : #00498c;
  font-size: 1.2em;
  letter-spacing: 2px;
  color:white;
  cursor: pointer;
}

#sumainmove{
  position: relative;
  border : 0;
  background : #00498c;
  color : white;
  outline : none;
  border-radius : 40px;
  text-align : center;
  font-size: 1.2em;
  line-height:48px;
  letter-spacing : 2px;
  padding: 5.5px 55px;
 text-decoration-line: none;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .sulogin {
    width: 70%;
    height: 700px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .sutextForm {
    border-radius: 30px;
    border: 1px solid lightgray;
    width: 400px;
    margin: 10px;
    padding: 10px 10px;
  }

    
.sutextForm2{
  position: relative;
  width : 280px;
  height : 50px;
  vertical-align: center;
   border-radius: 30px;
   border: 1px solid lightgray;
   margin-right : 120px;
   padding: 10px 10px;
   margin-bottom : 10px;
}

   .susubmit2 {
    width: 200px;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 40px;
   background : #00498c;
    font-size: 1.2em;
    letter-spacing: 2px;
    color:white;
    cursor: pointer;
  }

  #sumainmove{
    border : 0;
    background : #00498c;
    color : white;
    outline : none;
    border-radius : 40px;
    text-align : center;
    font-size: 1.2em;
    line-height:48px;
    letter-spacing : 2px;
    padding: 5.5px 65px;
   text-decoration-line: none;
 }
 .sutextForm3{
  position: relative;
  width: 275px;
  height : 50px;
  border-radius: 30px;
  border: 1px solid lightgray;
  margin-right : 120px;
  padding: 10px 10px;
  margin-bottom : 10px;
  margin-top: 10px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sulogin {
    width: 70%;
    height: 700px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .sutextForm {
    border-radius: 30px;
    border: 1px solid lightgray;
    width: 400px;
    margin: 10px;
    padding: 10px 10px;
  }

    
.sutextForm2{
  position: relative;
  width : 280px;
  height : 50px;
  vertical-align: center;
   border-radius: 30px;
   border: 1px solid lightgray;
   margin-right : 120px;
   padding: 10px 10px;
   margin-bottom : 10px;
}

   .susubmit2 {
    width: 200px;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 40px;
   background : #00498c;
    font-size: 1.2em;
    letter-spacing: 2px;
    color:white;
    cursor: pointer;
  }

  #sumainmove{
    border : 0;
    background : #00498c;
    color : white;
    outline : none;
    border-radius : 40px;
    text-align : center;
    font-size: 1.2em;
    line-height:48px;
    letter-spacing : 2px;
    padding: 5.5px 65px;
   text-decoration-line: none;
 }
 .sutextForm3{
  position: relative;
  width: 275px;
  height : 50px;
  border-radius: 30px;
  border: 1px solid lightgray;
  margin-right : 120px;
  padding: 10px 10px;
  margin-bottom : 10px;
  margin-top: 10px;
}
}

@media (min-width: 1200px) {
  .sulogin {
      width: 30%;
      height: 700px;
      background: rgb(255, 255, 255);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; 
    }
    .sutextForm {
      border-radius: 30px;
      border: 1px solid lightgray;
      width: 400px;
      margin: 10px;
      padding: 10px 10px;
    }

      
  .sutextForm2{
    position: relative;
    width : 280px;
    height : 50px;
    vertical-align: center;
     border-radius: 30px;
     border: 1px solid lightgray;
     margin-right : 120px;
     padding: 10px 10px;
     margin-bottom : 10px;
 }

     .susubmit2 {
      width: 200px;
      height: 40px;
      border: 0;
      outline: none;
      border-radius: 40px;
     background : #00498c;
      font-size: 1.2em;
      letter-spacing: 2px;
      color:white;
      cursor: pointer;
    }

    #sumain{
      border : 0;
      background : #00498c;
      color : white;
      outline : none;
      border-radius : 40px;
      text-align : center;
      font-size: 1.2em;
      line-height:48px;
      letter-spacing : 2px;
      padding: 5.5px 65px;
     text-decoration-line: none;
   }
   .sutextForm3{
    position: relative;
    width: 275px;
    height : 50px;
    border-radius: 30px;
    border: 1px solid lightgray;
    margin-right : 120px;
    padding: 10px 10px;
    margin-bottom : 10px;
    margin-top: 10px;
 }
   
}


  
  subody {
    background-image:#919191;
  }
  
    
  .suwrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(172, 140, 140, 0.1);
  }


  
  
  .suu_nickname {
    width: 60%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  
  .suu_pw {
    width: 60%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .suname {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .suu_email {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  .suu_id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .sucellphoneNo {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }


  .suloginmenu {
      display: flex;
      flex-direction: row;
      font-size: 20px;
  }

  .suidchk .subttn{
  position: absolute;
      right: -120px;
      top: -2px;
      width: 110px;
      height: 45px;
      border-radius: 40px;
      color: white;
      background: #00498c;
      border: 0;
      cursor: pointer;
  }
   .subttn{
  position: absolute;
      right: -120px;
      top: -2px;
      width: 110px;
      height: 45px;
      border-radius: 40px;
      color: white;
      background: #00498c;
      border: 0;
      cursor: pointer;
  }
  .sumailcheck-input{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  #suidBtn {
  position: absolute;
  right: -120px;
  top: -2px;
  width: 110px;
  height: 45px;
  border-radius: 40px;
  color: white;
  background: #00498c;
  border: 0;
  cursor: pointer;
}

#suidDupCheckMsg {
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 14px;
  margin-top: 5px;
  color: red; /* 중복시 빨간색으로 설정 */
}	
  
  .subtn:hover {
    background-position: right;
  }



  .suu_phone{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }

  .suu_phone{
    position: absolute;
    display: inline-flex;
    margin-left: 20px;
  }
  #sugenderstatus{
   margin-left: 8px; 
  }
  .subttn3{
    margin-left: 5px;
  }
  .suu_birthday{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }