.customStyle1 {max-height: 70vh; overflow-y: auto;}
.customStyle2 {background-color: #637F42; width: 80px;}
.customStyle3 {color: white;}
.customStyle4 {text-align: center;font-size: 60px;font-family: OpenSans-Bold;}
.customStyle5 {color: black;}