.search-select{
    display:flex;
    justify-content: center;
    margin: 0px 0px 50px 200px;
}
.selectbox{
    position: relative; 
    border: 1px solid #686868; 
    left: -198px; 
    width:5rem; 
    height:3rem;
    text-align:center
}
.search {
    width: 26rem;
    height:3rem; 
    border: 1px solid #686868; 
    margin-left:-198px;
}
.submit {
    position: absolute;
    width: 5.5rem;
    height:47.99px;
    border:none;
    background: #686868;
    color: #fff; 
    cursor:pointer;

}
.title-txt{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}
button2{
	text-align: right;
}
