<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="camp">
	
	<!-- 좋아요 -->
	<insert id="addLike">
	   INSERT INTO camp_likes (u_id, facltNm) VALUES (#{u_id}, #{facltNm})
	</insert>
	
	<!-- 좋아요 중복 체크 -->
	<select id="checkLike" resultType="int">
	    SELECT COUNT(*) FROM camp_likes WHERE u_id = #{u_id} AND facltNm = #{facltNm}
	</select>
	
	<!-- 좋아요 취소 -->
	<delete id="removeLike">
	    DELETE FROM camp_likes WHERE u_id = #{u_id} AND facltNm = #{facltNm}
	</delete>

	<!-- 좋아요 수 조회 쿼리 -->
	<select id="getLikeCount" resultType="int">
	    SELECT COUNT(*) FROM camp_likes WHERE facltNm = #{facltNm}
	</select>
</mapper>