<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
	
	<select id="allList" resultType="fvo">
		select * from FAQ
	</select>
	
	<select id="allListByContent" parameterType="String" resultType="fvo">
		select * from FAQ where f_content like #{f_content}
	</select>
	
	<select id="allListByResponse" parameterType="String" resultType="fvo">
		select * from FAQ where f_response like #{f_reponse}
	</select>
</mapper>








