<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group">
	
	<select id="allList" resultType="gvo">
		select * from groups where g_status = '1'
	</select>
	<insert id="insert" parameterType="gvo">
		insert into groups(g_title,g_intro, g_fname,g_maxPeople, g_date, g_location, g_desc,g_status, u_idx)
		values(#{g_title},#{g_intro},#{g_fname},#{g_maxPeople},#{g_date},#{g_location},#{g_desc},1,#{u_idx})
	</insert>
	<select id="onelist" parameterType="String" resultType="gvo">
		select * from groups where g_idx = #{g_idx}
	</select>
	<update id="delete" parameterType="gvo">
		update groups
		set g_status= '0' where g_idx = #{g_idx}
	</update>
	<update id="update" parameterType="gvo">
		update groups set g_title= #{g_title},g_intro= #{g_intro},g_fname= #{g_fname},g_maxPeople= #{g_maxPeople},
		g_date= #{g_date},g_location= #{g_location},g_desc= #{g_desc}, u_idx= #{u_idx} where g_idx = #{g_idx}
	</update>
</mapper>