<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	
	<select id="allList" resultType="uvo">
		select * from USERS 
	</select>
	
	<insert id="addUser" parameterType="uvo">
		insert INTO USERS(u_id, u_pw, u_name, u_birthday, u_email, u_phone)
		VALUES(#{u_id}, #{u_pw}, #{u_name}, #{u_birthday}, #{u_email}, #{u_phone})
	</insert>
	<select id="checkEmailDuplicate" resultType="uvo" parameterType="String">
 		 SELECT * FROM USERS WHERE u_email = #{email}
	</select>
	
</mapper>








